---
layout: default
---

<img src="assets/img/sonja_leutwyler.jpg" alt="">
<img class="logo" src="assets/img/logo.png" alt="">

<div class="info">
  <div class="top">
    Sonja Leutwyler
    <a href="mailto:sl@sonjaleutwyler.com">sl@sonjaleutwyler.com</a>
    <a class="artist-info" href="http://www.organza.ch/sonja-leutwyler.html">Artist Info</a>
  </div>
  <div class="bottom">
    <a href="http://www.mon-arts.net/" class="management">
      <div class="management-logo">
        <img src="assets/img/mon-art.png" alt="">
      </div>
      <span class="management-name">Monitzer Artists' Management</span>
      
    </a>
    
    <a href="http://www.organza.ch/" class="management">
        <div class="management-logo">
            <img src="assets/img/organza.png" alt="">
          </div>
          <span class="management-name">Organza Kulturmanagement</span>
        </a>
  </div>
</div>